.fundoF {
  --background: #e74c3c;
  --color: #fff;
}

.button-login {
  --background: #e74c3c;
  --color: #fff;
  --border-radius: 1.3rem;
  display: block;
  margin: 0.3rem auto;
  width: 50%;
}
.textT {
  text-align: center;
}

.imgblock {
  display: block;
  height: 17%;
  margin: 0 auto ;
}

.imgs-ongs {
  margin: 2% auto;
  width: 25%;
  height: auto;
}
